Pods/
build/
Quable\ Productivity.xcodeproj/xcuserdata/*
Quable\ Productivity.xcworkspace/xcuserdata/*Habbitual.xcworkspace/xcshareddata
Habbitual.xcodeproj/xcuserdata/
Habbitual.xcworkspace/xcuserdata/
Habbitual.xcworkspace/xcshareddata
